@media screen and (max-width: 991px) {
    .pading-buttom-10 {
        padding-bottom: 5rem;
    }

    #main_page_container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        height: 100vh;
    }

    .container_player {
        height: 20vh;
    }

    .container_main_content {
        height: 100vh;
    }
}

@media screen and (max-width: 751px) {
    .container_main_nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        background-color: var(--white-color);
        margin: 0;
    }

    .container_main_content {
        padding-top: 5rem;
    }

    .menue_btns {
        display: block;
    }

    .container_nav_manue_btn {
        display: block;
    }
    .about-us {
        padding-top: 0;
    }

    #main_page_container {
        display: grid;
        grid-template-columns: 1fr;
        grid-area: 'main';
        height: 80vh;
    }

    .container_player {
        height: 20vh;
    }



    /* .main_page_container {
        height: 80vh;
    }

    .container_player {
        height: 20vh;
        opacity: 0.8;
    } */




    .container_main_nav {
        z-index: 999;
    }

    .main_page_container {
        grid-template-columns: 1fr;
    }

    .container_nav {
        position: absolute;
        top: 0;
        left: -100vw;
        width: 100vw;
        height: 100vh;
        z-index: 9999;
        background-color: var(--white-color);

    }

    .container_nav .nav_links ul {
        margin-top: 2rem;
    }

    .playlist_container {
        position: absolute;
        top: 0;
        right: -50vw;
        width: 50vw;
        height: 100%;
        z-index: 9999;
    }


    .container_nav.show {
        left: 0;
    }

    .container_nav {
        padding: 0;
    }

    .container_nav .logo {
        border-radius: 0;
    }

    .container_nav .nav_links {
        border-radius: 0;
        margin: 0;
        width: 100%;
        height: 100%;
    }



    .playlist_container.show {
        right: 0;

    }

    .container_main {
        padding: 1rem;
    }




}